@tailwind base;
@tailwind components;
@tailwind utilities;

.about{
  background-image: url("./assets/circular arrows.png");
  background-repeat: no-repeat;
}

.toUse{
  font-family: "Fira Sans", sans-serif;

}
*{
  font-family: "-apple-system"
}
:root {

}
@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}

@layer utilities {

}


